body{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    width: 100%;
    height: 100%;
    font-family:'Montserrat', sans-serif; 
    /* font-family: 'Quicksand', sans-serif; */
}
/* seccion uno */
.navegacion{
    position: fixed;
    padding: 10px;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #f8ede3; 
    box-shadow: -1px 4px 5px 2px rgba(201,201,201,1);

}
.ul-nav{
    width: 800px;
    height: 30px;
    /* border: 1px solid red; */
    list-style: none;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: space-evenly; 
}
a{  
    /* border: 1px solid blue; */
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    color: #941E4D;
    text-decoration: none;
}
.link{
        /* border: 1px solid blue; */
        text-transform: uppercase;
        font-weight: 500;
        font-size: 18px;
        color: #941E4D;
        text-decoration: none;
}
.link:hover{
    color: #A569BD;
    transition: 0.1s;
}
.link:active{
    border: 1px solid #A569BD;
    border-radius: 40px;
    padding: 10px;
    -webkit-box-shadow: -1px -1px 29px -2px rgba(109,75,148,1);
    -moz-box-shadow: -1px -1px 29px -2px rgba(109,75,148,1);
    box-shadow: -1px -1px 29px -2px rgba(109,75,148,1);
    
}

.seccion-uno{
    background-color: #FBFCFC;
    width:100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
h3{
    color: #231e23;
    font-size: 40px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 500;
}
.titulo{
    color: #512DA8;
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 500;
    /* align-self: flex-start; */

}
.texto-presentacion{
    font-size: 20px;
    margin-bottom: 50px;
}
.mi-presentacion{
    /* border: 1px solid red;   */
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    /* justify-content: center; */
    /* align-items: center; */
}
.boton-contacto{
    width: 60px;
    height: 30px;
    padding: 0 30px;
    border: none;
    border-radius: 30px;
    background-color: #512DA8;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-self: flex-start; */
}
.boton-contacto:hover{
    background-color: #A569BD;
    border: none;
    color: #FFFFFF;
}

.contacto-principal{
    /* border: 1px solid yellow; */
    width: 600px;
    margin-top: 30px;
    
}
.imagen-dev{
    width: 500px;
}

/* seccion dos */
.seccion-dos{
    background-color: #F2F4F4;
}
.mis-conocimientos{
    padding: 130px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.titulo-conocimientos{
    display: flex;
    justify-content: center;
    font-size: 40px;
}
.parrafo-conocimientos{
    width: 400px;
}

.tarjetas{
    display: flex;
    justify-content: center;
} 
.columnas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1000px; 
    margin-top: 40px;
}
.skills{
    background-color:#FFFFFF; 
    border: 1px solid #F2F3F4;
    border: 1px solid #D6DBDF;
    border-radius: 8px;
    width: 250px;
    height: 250px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.skills:hover{
    border: 1px solid #A569BD;
}
.iconos-skills{
    font-size: 80px;
}
.skill-descripcion{
    font-size: 18px;
    font-weight: 500;
    font-family:'Montserrat', sans-serif;
}
.mayuscula{
    text-transform: uppercase;
}
/* seccion tres */
.seccion-tres{
    background-color: #512DA8;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icono-comillas{
    font-size: 80px;
}
.parrafo-cita{
    font-size: 20px;
    max-width: 830px;
    text-align: center;
}
.blanco{
    color: #FFFFFF;
}
.titulo-cita{
    font-weight: 900;
}

/* seccion cuatro */
.titulo-mis-proyectos{
    font-size: 40px;
}
.parrafo-mis-proyectos{
    max-width: 400px;
    text-align: center;
}
.seccion-cuatro{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 110px 40px 130px;
}
.tarjetas-proyectos{
    display: flex;
    justify-content: center;
}
.proyectos{
    display: flex;
    flex-wrap: wrap;
    width: 1026px;
}
.proyecto-cards{
    margin: 20px;
    width: 300px;
    height: 300px;
    border: 1px solid #E3E3E3;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.proyecto-cards:hover{
    border: 1px solid #A569BD;
}
.tarjeta-descripcion{
    font-size: 18px;
    font-weight: 500;
    color: #060606;
    text-align: center;
    text-transform: initial;
}
.imagen-proyecto-portafolio{
    width: 300px;
    height: 180px;
}
.imagen-generador-de-memes{
    width: 200px;
    height: 180px;
}
.imagen-match{
    width: 200px;
    height: 180px;
}
.imagen-gastos{
    width: 200px;
    height: 180px;
}
.imagen-reuniones{
    width: 200px;
    height: 180px;
}
.imagen-app{
    width: 200px;
    height: 180px;
}
.imagen-peliculas{
    width: 200px;
    height: 180px;
}

/* seccion cinco */
.seccion-cinco{
    background-color:#F6F7FB;
    display: flex;
    justify-content: center;
    padding: 125px;
}
.contenedor-seccion-cinco{
    display: flex;
    height: 700px;
    background-color: #FFFFFF;
    width: 1000px;
}
.caja-contactame{
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 30px;
}
.lista-iconos{
    list-style: none;
    font-size: 20px;
}
.icono-redes-sociales{
    height: 40px;
    display: flex;
}
/* .icono-redes-sociales:focus{
    border: 1px solid #A569BD;
} */
.link-redes-sociales{
    text-decoration: none;
    color: #364242;
    text-transform: lowercase;
    display: flex;
    align-items: center;
}
.icono-redes-sociales:hover .link-redes-sociales{
    color: #8338ec;
}
.icono{
    margin-right: 15px;
    color: #8338ec;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.icono-redes-sociales:hover .icono{
    background-color: #8338ec;
    color: #FFFFFF;
}
.contenedor-lista{
    height: 350px;
    display: flex;         
    flex-direction: column;
    justify-content: space-between;
}

.caja-escribime{
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 500px;
}
.formulario{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titulo-formulario{
    font-size: 45px;
}

.parrafo-contacto{
    max-width: 300px;
    font-size: 16px;
}
.nombre-apellido{
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.ingreso-nombre{
    display: flex;
    flex-direction: column;
    width: 210px;
}
.ingreso-apellido{
    display: flex;
    flex-direction: column;
    width: 210px;
}
.ingreso-mail{
    display: flex;
    flex-direction: column;
    width: 500px;
}
.ingreso-mensaje{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 500px;
    height: 150px;
    border-radius: 10px;
}
.input-texto{
    /* border: transparent; */
    /* border: 1px solid blueviolet; */
    border: none;
    border-radius: 5px;
    width: 204px;
    height: 35px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: #F6F7FB;
    padding-left: 15px;
}
.input-email{
    width: 495px;
    height: 30px;
    border: none;
    border-radius: 20px;
    background-color: #F6F7FB;
    padding-left: 15px;
}
.texto-area{
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    background-color: #F6F7FB;
    padding-left: 10px;
}
.texto-area:focus{
    box-shadow: -2px -1px 15px 0px #C64FF5;
    outline: none;
}
input:focus{
    box-shadow: -2px -1px 15px 0px #C64FF5;
    outline: none;
} 

.boton-loquehago, .boton-formulario{
    width: 160px;
    height: 40px;
    border: none;
    border-radius: 40px;
    background-color: #512DA8;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton-formulario{
    width: 120px;
    text-transform:initial;
    background-color: #8338EC;
}
.boton-loquehago:hover{
    background-color: #A569BD;
}
.boton-formulario:hover{
    background-color: #A569BD;
}
::placeholder{
    font-size: 15px;
}
/* footer */
footer{
    background-color: #512DA8;
    display: flex;
    flex-direction: column;
    padding: 70px;
}
.footer-nav{
    display: flex;
    justify-content: center;
}
.lista-iconos-footer{
    display: flex;
    justify-content: center; 
    list-style: none;
    padding: 10px;
}
.parrafo-footer{
    display: flex;
    justify-content: center;  
}
.lista-nav{
    display: flex;
    list-style: none;
    align-items: center; 
}
.lista-links-nav{
    margin-right: 15px;
    text-transform: uppercase;
    font-size: 14px;
}
.icono-footer{
    width: 45px;
    height: 45px;
    background-color: #FFFFFF;
    color: #8338ec;
    border-radius: 50px;
    font-size: 20px;
    margin-right: 10px;
    text-align: center;
    line-height: 45px !important; 
}

